.main-container {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.type-divider {
	border: 0;
	height: 4px;
	background: #3399ff;
	margin: 50px auto;
	width: 70%;
	border-radius: 8px;
  }